<h4 class="container text-secondary mb-4">新增餐廳</h4>

<div class="container">
  <div class="m-auto">
    <form action="/restaurants/add-new" method="POST">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">creat retaurunt name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" name="name" aria-describedby="emailHelp"
          placeholder="name">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">creat restaurunt adress</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="adress" placeholder="adress">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">creat restaurunt category</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="category" placeholder="category">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">creat restaurunt phone</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="phone" placeholder="phone">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">creat restaurunt rating</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="rating" placeholder="rating">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">creat restaurunt image</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="image" placeholder="image">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">creat restaurunt description</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>